@import "styles/utils", "styles/variables";

.Token_tokenomic {
  overflow: hidden;
  background: radial-gradient(
      56.62% 111.54% at 99.72% 0%,
      rgba(19, 213, 255, 0.2) 0%,
      rgba(123, 19, 255, 0) 100%
    ),
    $bg-secondary;

  padding-top: 200px;

  .label {
    @include label-text;
  }

  .title {
    @include title-text;
  }

  .subtitle {
    @include subtitle-text;
  }

  .badge {
    @include badge;
  }

  .left-fluid {
    position: relative;

    & img {
      filter: drop-shadow(0px 0px 115px rgba(0, 133, 255, 0.35));
      position: absolute;
      top: 50%;
      right: 0;
      height: 100%;
      transform: translate(0%, -50%);

      @media (max-width: 576px) {
        position: relative;
        width: 100%;
        height: auto;
        top: 0;
        transform: none;
      }
    }
  }

  .secure-padding {
    padding-top: 150px;
    padding-bottom: 150px;

    @media (max-width: 576px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  .tip {
    @include font-normal;
    font-size: 12px;
    color: #8fb8ca;

    @media (max-width: 768px) {
      font-size: 10px;
    }
  }
}
