@import "styles/variables";
@import "styles/utils";

.LangSelector {
  background: #00131d;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  padding: 10px;
  width: 65px;
  cursor: pointer;

  & > span {
    @include font-bold;
    color: $text-secondary;
    font-size: 12px;
    letter-spacing: 0.1em;
  }
}
