@import "styles/variables";
@import "styles/utils";

.Layout_Alert {
  position: relative;
  z-index: 1;
  background-color: #000000;
  height: 36px;
  padding: 10px;

  & span {
    @include font-bold;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: 1px;
    text-align: center;

    color: $text-success;
  }
}
