@import "styles/utils", "styles/variables";

.Protocol_EcoSystem {
  position: relative;
  clip-path: polygon(0 0, 100% 5%, 100% 95%, 0% 100%);
  background: url("assets/backgrounds/dapp-radial.svg") top 0 left 0 no-repeat,
    radial-gradient(
      56.62% 111.54% at 99.72% 0%,
      rgba(19, 213, 255, 0.2) 0%,
      rgba(123, 19, 255, 0) 100%
    ),
    $bg-secondary;

  padding-top: 140px;
  padding-bottom: 200px;

  @media (max-width: 576px) {
    clip-path: polygon(0 0, 100% 2%, 100% 98%, 0% 100%);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  & .label {
    @include label-text;
  }

  & .title {
    @include title-text;
  }
}
