$color: pink;

$text-primary: #2a4753;
$text-secondary: #ffffff;
$text-success: #34ffaa;
$text-info: #6892b8;
$text-danger: #ff5894;

$bg-primary: #000c11;
$bg-secondary: #f5fcff;

$text-active: #0085ff;
