$color: pink;

$text-primary: #0085ff;
$text-secondary: #ffffff;
$text-success: #34ffaa;
$text-info: #6892b8;
$text-danger: #FF5894;

$bg-primary: #000c11;
$bg-secondary: #f5fcff;

// custom
$dashboard-image-height: 1000px;
