@import "styles/variables";
@import "styles/utils";

.Layout_Footer {
  // background-color: $bg-primary;
  padding-top: 150px;
  padding-bottom: 100px;
  z-index: 1;
  position: relative;
  text-align: left;

  @media (max-width: 576px) {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
  }

  & p {
    @include font-normal;
    line-height: 140%;
    font-size: 15px;
    color: $text-info;
  }

  .label {
    @include font-bold;
    @include gradient-text;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
  }

  & .community {
    & .wrapper {
      min-width: 310px;
    }
  }

  & .external {
    .label {
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 900;
    }
    a {
      text-decoration: none;
      & > span {
        @include font-normal;
        color: $text-secondary;
        font-size: 14px;
        line-height: 140%;
        &:hover {
          color: $text-active;
        }
      }
    }
  }
}
